<!DOCTYPE html>
<html lang="en">

<body>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/agregarPost.css">
    <%- include('./partials/header') %> 

    <main>
       
        <h1 class="jaja"> Agregar producto</h1>
        
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form  class= "formulario" action="/emprendedores/agregarPost" method="POST">
                    <p>
                        <label for="nombre"> Nombre del producto: </label>
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                    </p>

                    <p>
                        <label for="precio">Precio: </label>
                        <input type="number" id="precio" name="precio" placeholder="Precio" required>
                    </p>
                    <p>
                        <label for="Foto"> Foto: </label>
                        <input type="file" id="foto" name="foto" >
                    </p>
                    <p>
                        <label for="descripcion"> Descripción: </label>
                        <textarea id="descripcion" cols="30" rows="8" name="descripcion" required></textarea>
                    </p>

                    <p>
                        <label for="colores"> ¿Qué colores o variedades tiene? </label>
                        <input type="text" id="colores" name="colores">
                    </p>
                    <p>
                        <label for="personalizacion"> ¿Se puede personalizar? </label>
                        <select name="personalizacion" id="personalizacion" name="personalizacion">
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </p>
                    <p>
                        <label for="envio"> Opciones de envio: </label>
                        <textarea id="envio" cols="30" rows="8" name="envio"></textarea>
                    </p>
                    <p>
                        <label for="pago"> Opciones de pago: </label>
                        <textarea id="pago" cols="30" rows="8" name="pago"></textarea>
                    </p>
                    <button class="jeje">Agregar</button>

                </form>
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer') %> 

</body>

</html>