<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/contacto.css">
</head>

<body>
    <%- include('./partials/header') %> 
    <main>
        <a href="https://www.instagram.com/emprendio.co/"> Instagram</a>
        <br>
        <br>
        <a href="https://www.facebook.com/emprendio.co"> Facebook</a>
        <br>
        <br>
        <a href="https://www.linkedin.com/company/emprendio/"> LinkedIn</a>
        <br>
        <h3>info.emprendio@gmail.com</h3>
        <h3>Buenos Aires, Argentina</h3>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>