<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/agregarPost.css">
</head>

<body>
    <%- include('./partials/headerlogueado') %> 
    <main>
       
            <h1 class="jaja"> Editar producto</h1>
        
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form  class= "formulario" action="" method="POST">
                    <p>
                        <label for="nombre"> Nombre del producto: </label>
                        <input type="text" id="nombre" value="" placeholder="Nombre" required>
                    </p>

                    <p>
                        <label for="precio">Precio: </label>
                        <input type="number" id="precio" value="" placeholder="Precio" required>
                    </p>
                    <p>
                        <label for="Foto"> Foto del producto: </label>
                        <input type="file" id="foto" value="" required>
                    </p>
                    <p>
                        <label for="descripcion"> Descripción del producto: </label>
                        <textarea id="descripcion" cols="30" rows="8" required></textarea>
                    </p>

                    <p>
                        <label for="colores"> ¿Qué colores o variedades tiene? </label>
                        <input type="text" id="colores" value="" required>
                    </p>
                    <p>
                        <label for="personalizacion"> ¿Tiene personalización? </label>
                        <select name="personalizacion" id="personalizacion">
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </p>
                    <p>
                        <label for="envio"> Opciones de envio: </label>
                        <textarea id="envio" cols="30" rows="8" required></textarea>
                    </p>
                    <p>
                        <label for="pago"> Opciones de pago: </label>
                        <textarea id="pago" cols="30" rows="8" required></textarea>
                    </p>
                    <button class="jeje">Agregar</button>

                </form>
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer') %> 

</body>

</html>