<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emprendio</title>
        <link rel="icon" href="/images/logo.png" type="image/png">
    
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/general.css">
<<<<<<< Updated upstream
        <link rel="stylesheet" href="/stylesheets/faqs.css">
    
=======
    <link rel="stylesheet" href="stylesheets/faqs.css">
>>>>>>> Stashed changes
        <!-- UiKit -->
        <!-- <link rel="stylesheet" href="css/uikit.min.css">
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/uikit.min.js"></script> -->
        <!-- UiKit -->
        
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
        
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    </head>
<body>
    <%- include('./partials/header') %> 
    <main>
        <!-- <div class="uk-section uk-section-small"> -->
           <h1 class="titulo"> Preguntas Frecuentes</h1> 
   
<div class="uno"> 
    <h3> ¿Que consideramos un emprendedor? </h3> 
    <p class="okson"> 
        Hay muchos significados de un emprendedor. El equipo de emprendio lo define como un creador independiente. Es importante destacar que parte de una innovación. Su creatividad incentiva a otros emprendedores y abre una nueva línea empresarial a nuevos emprendedores y productos. Por último, un emprendedor no posee empleados.
    </p>
</div>

<div class="dos">
    <h3 class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center"> ¿Puedo vender mis productos? </h3> 
    <p class="oka"> 
        ¡Sí! Para vender tus productos podes seguir estos sencillos pasos:
        </p><p>
        1)Ir a la sección "Quiero vender"
        </p><p>
        2)Entrar al link y completar con la información de tu marca.
        </p><p>
        3)El equipo recibe la información, la analiza y se comunicará a la brevedad.
        </p><p>
        Así de fácil y rápido vas a poder empezar a vender tus productos en nuestra web.

    </p>
</div>

<div class="tres">
    <h3> ¿Tengo que tener cononcimientos tecnicos? </h3>
     <p>
        ¡No! Emprendio es una página que permite a los emprendedores vender sus productos sin tener conocimientos técnicos. Es decir, no es necesario saber programar, conocer estrategias de marketing ni saber acerca de publicidad.
     </p><p>
        ¡El equipo de emprendio se encargará de todos estos temas!
     </p>
</div>


<!--        <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uno">
                
                <h2 class= "preguntas">
                    ¿Que consideramos un emprendedor?
                </h2>
                    <p class="texto">
                        Hay muchos significados de un emprendedor. El equipo de emprendio lo define como un creador independiente. Es importante destacar que parte de una innovación. Su creatividad incentiva a otros emprendedores y abre una nueva línea empresarial a nuevos emprendedores y productos. Por último, un emprendedor no posee empleados.
                    </p>
            </div>
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center dos">
                <h2 class= "preguntas"> ¿Puedo vender mis productos?</h2>
                <p class="texto">
                    ¡Sí! Para vender tus productos podes seguir estos sencillos pasos:
                        1) Ir a la sección "Quiero vender"
                        2)Entrar al link y completar con la información de tu marca.
                        3)El equipo recibe la información, la analiza y se comunicará a la brevedad.

                    Así de fácil y rápido vas a poder empezar a vender tus productos en nuestra web.
                </p>
            </div>
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center tres">
                <h2 class= "preguntas">¿Tengo que tener cononcimientos tecnicos?</h2>´
                <p class= "texto">
                    ¡No! Emprendio es una página que permite a los emprendedores vender sus productos sin tener conocimientos técnicos. Es decir, no es necesario saber programar, conocer estrategias de marketing ni saber acerca de publicidad.

                    ¡El equipo de emprendio se encargará de todos estos temas!
                </p>
            </div> -->
        <!-- </div> -->
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>