<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/faqs.css">
</head>

<body>
    <main>
        <% if (usuario != undefined) { %>  
            <%- include('./partials/headerLogueado') %>
        <% } else { %>    
             <%- include('./partials/header')   %> 
        <% } %> 
    
        <!-- <div class="uk-section uk-section-small"> -->
           <h1 class="tituloxx"> Preguntas Frecuentes</h1> 
   
        <div class="uno"> 
            <h3> ¿Que consideramos un emprendedor? </h3> 
            <p class="okson"> 
            Hay muchos significados de un emprendedor. El equipo de emprendio lo define como un creador independiente. Es importante destacar que parte de una innovación. Su creatividad incentiva a otros emprendedores y abre una nueva línea empresarial a nuevos emprendedores y productos. Por último, un emprendedor no posee empleados.
            </p>
        </div>

        <div class="dos">
            <h3 class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center"> ¿Puedo vender mis productos? </h3> 
            <p class="oka"> 
                ¡Sí! Para vender tus productos podes seguir estos sencillos pasos:
            </p>
            <p>1)Ir a la sección "Quiero vender"</p>
            <p>2)Entrar al link y completar con la información de tu marca.</p>
            <p>3)El equipo recibe la información, la analiza y se comunicará a la brevedad.</p>
            <p>Así de fácil y rápido vas a poder empezar a vender tus productos en nuestra web.</p>
        </div>

        <div class="tres">
            <h3> ¿Tengo que tener cononcimientos tecnicos? </h3>
            <p>¡No! Emprendio es una página que permite a los emprendedores vender sus productos sin tener conocimientos técnicos. Es decir, no es necesario saber programar, conocer estrategias de marketing ni saber acerca de publicidad.</p>
            <p>¡El equipo de emprendio se encargará de todos estos temas!</p>
        </div>

        <%- include('./partials/footer') %> 
    </main>
</body>

</html>