<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 


<body>
    <header class="uk-background-primary">
        <section class=" uk-container uk-container-large">
            <div class="">
                <nav class="" uk-navbar>
                    <div class="uk-navbar-left">
                        <a href="home.html"><img src="imagenes/titulologo.png" alt=""></a>
                    </div>
                    <div class="uk-navbar-center">
                        <ul class="uk-flex uk-flex-between uk-flex-middle">
                            <li><a href="home.html">Home</a></li>
                            <li><a href="addPost.html">Postear</a></li>
                            <li><a href="miPerfil.html">Perfil</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-flex uk-flex-between uk-flex-middle">
                            <li>
                                <form action="" class="uk-search uk-search-default">
                                    <span uk-search-icon></span>
                                    <input type="search" class="uk-search-input" placeholder="Buscar...">
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <h2> Preguntas Frecuentes</h2>
                
                <h2 class= "preguntas">
                    ¿Que consideramos un emprendedor?
                </h2>
                    <p class="texto">
                        Hay muchos significados de un emprendedor. El equipo de emprendio lo define como un creador independiente. Es importante destacar que parte de una innovación. Su creatividad incentiva a otros emprendedores y abre una nueva línea empresarial a nuevos emprendedores y productos. Por último, un emprendedor no posee empleados.
                    </p>
                <h2 class= "preguntas"> ¿Puedo vender mis productos?</h2>
                <p class="texto">
                    ¡Sí! Para vender tus productos podes seguir estos sencillos pasos:
                        1) Ir a la sección "Quiero vender"
                        2)Entrar al link y completar con la información de tu marca.
                        3)El equipo recibe la información, la analiza y se comunicará a la brevedad.

                    Así de fácil y rápido vas a poder empezar a vender tus productos en nuestra web.
                </p>
                <h2 class= "preguntas">¿Tengo que tener cononcimientos tecnicos?</h2>´
                <p class= "texto">
                    ¡No! Emprendio es una página que permite a los emprendedores vender sus productos sin tener conocimientos técnicos. Es decir, no es necesario saber programar, conocer estrategias de marketing ni saber acerca de publicidad.

                    ¡El equipo de emprendio se encargará de todos estos temas!
                </p>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>