<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/inicio.css">
</head>
    
<body>
    <%- include('./partials/header') %> 
    <main>
        <img class="fondo .uk-background-cover" src="images/inicio.png" alt="">

        <div class="uk-container uk-container-large uk-flex herosection">
                
            <h1 class="h1hero">Todos los emprendedores en un solo lugar.</h1>
            
            <h2 class="h2hero">¡Comprale directo al creador!</h2>
            
            <div>
                <button class="botonhero botonemprendio textobotonemprendio" onclick="location.href='productos'">Comprar ahora</button>
            </div>

        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>