<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
</head>
    
<body>
    <%- include('./partials/header') %> 
    <main>
        <div class="uk-section">
            <div class="uk-container uk-container-large uk-flex uno">
                <img class="vemoz" src="https://assets.entrepreneur.com/content/3x2/2000/20200401173052-unidad1.jpeg?width=700&crop=2:1" alt="" class="im">
                <h1>Encontrá productos de emprendedores en un solo lugar.</h1>
                <h3>¡Comprale directo al creador!</h3>
                <div>
                    <button class="botonemprendio textobotonemprendio" onclick="location.href='productos'">Comprar ahora</button>
                </div>

            </div>

        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>