<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
<link rel="stylesheet" href="public/stylesheets/login.css">
<body>
    <header class="uk-background-primary">
        <section class=" uk-container uk-container-large">
            <div class="">
                <nav class="" uk-navbar>
                    <div class="uk-navbar-left">
                        <a href="home.html"><img src="/images/titulologo.png" alt=""></a>
                    </div>
                    <div class="uk-navbar-center">
                        <ul class="uk-flex uk-flex-between uk-flex-middle">
                            <li><a href="home.html">Home</a></li>
                            <li><a href="addPost.html">Postear</a></li>
                            <li><a href="registracion">Registración</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-flex uk-flex-between uk-flex-middle">
                            <li>
                                <form action="" class="uk-search uk-search-default">
                                    <span uk-search-icon></span>
                                    <input type="search" class="uk-search-input" placeholder="Buscar...">
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <!-- <p>
            <h1>Iniciar Sesión</h1>
        </p> -->
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form class="form-signin">
                    <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesion</h1>
                    <label for="inputEmail" class="sr-only"></label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Nombre de Usuario" required autofocus>
                    <label for="inputPassword" class="sr-only"></label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                    <div class="checkbox mb-3">
                      <label>
                        <input type="checkbox" value="remember-me"> Recordarme
                      </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
                  </form>
                    <!-- <button>Enviar</button> -->
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>