<!DOCTYPE html>
<html lang="en">
    
<head>
  <%- include('./partials/head') %> 
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
    
<body>
    <%- include('./partials/header') %> 
    <main>
        <!-- <p>
        <h1>Iniciar Sesión</h1>
        </p> -->
        <div class="uk-section uk-section-small">
          <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
            <form class="form-signin" action="/home/procesologin" method="POST">
              <p class="iniciarsesion">Iniciar Sesion</p>

              <label for="inputEmail" class="sr-only"></label>                 
              <input type="text" id="inputEmail" class="form-control" name="email" placeholder="Mail o nombre de usuario" required autofocus>

              <label for="inputPassword" class="sr-only"></label>
              <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Contraseña" required> <br>
              <br>
              <label for="remember">Recordar usuario</label>
              <input type="checkbox" name="remember">


              <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
              <p class="mt-5 mb-3 text-muted">&copy; 2020</p>

            
              
            </form>
          
      </div>

        </div>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>