<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emprendio</title>
        <link rel="icon" href="/images/logo.png" type="image/png">
    
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/general.css">
        <link rel="stylesheet" href="/stylesheets/miPerfil.css">
    
        <!-- UiKit -->
        <!-- <link rel="stylesheet" href="css/uikit.min.css">
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/uikit.min.js"></script> -->
        <!-- UiKit -->
        
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
        
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    </head>
<body>
    <%- include('./partials/headerlogueado') %> 
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-small">
                <section class="info-usuario uk-flex uk-flex-around uk-width-1-1">
                    <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
                        
                            <img src="https://celpouch.com/wp-content/uploads/2019/11/cel-pouch-logowordpress.png" alt="foto de perfil" class="foto-perfil">
                    
                        
                    </div>
                    <div class="uk-width-2-3 uk-flex uk-flex-column uk-flex-around">
                        <div class="uk-flex uk-flex-middle">
                            <h3 class="uk-margin-remove">Celpouch</h3>
                            <a href="" uk-icon="icon:cog; ratio: 1.2" class="uk-margin-left"></a>
                        </div>
                        <div>
                            <ul class="red-usuario uk-flex uk-flex-between ">
                              <li>Historia de la marca: Nació cuando descubrimos que había una necesidad de crear fundas para celulares de cuero que sean antirobo. Es un emprendimiento que formé con mi novio hace menos de un año. ¡Espero que les gusten!</li>
                              <li class="sani">Ubicación: San Isidro</li>
                            </ul>
                        </div>
                    </div>

                </section>

                <section class="muro uk-flex uk-flex-middle uk-flex-center">
                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
                        <div
                            class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/productos/detalle/:id" class="link-detalle">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="vemo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg>
                             
                              <div class="solofoto">
                                <img src="https://previews.123rf.com/images/vectora/vectora1601/vectora160101182/51224740-modelo-cuadrado-fondo-monocrom%C3%A1tico-incons%C3%BAtil-repetible-con-formas-cuadradas-.jpg">
                            </div>
                                <p class="uk-text-center">Celpouch Vintage model</p>
                              
                            </a>
                        </div>
                        <div
                            class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/productos/detalle/:id" class="link-detalle">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="vemo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg>
                                <img src="https://previews.123rf.com/images/vectora/vectora1601/vectora160101182/51224740-modelo-cuadrado-fondo-monocrom%C3%A1tico-incons%C3%BAtil-repetible-con-formas-cuadradas-.jpg" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Celpouch cutomized style</p>
                            </a>
                        </div>
                        <div
                            class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/productos/detalle/:id" class="link-detalle">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="vemo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg>
                                <img src="https://previews.123rf.com/images/vectora/vectora1601/vectora160101182/51224740-modelo-cuadrado-fondo-monocrom%C3%A1tico-incons%C3%BAtil-repetible-con-formas-cuadradas-.jpg" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Celpouch summer edition</p>
                            </a>
                        </div>
                        <div
                            class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/productos/detalle/:id" class="link-detalle">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="vemo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg>
                                <img src="https://previews.123rf.com/images/vectora/vectora1601/vectora160101182/51224740-modelo-cuadrado-fondo-monocrom%C3%A1tico-incons%C3%BAtil-repetible-con-formas-cuadradas-.jpg" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Celpouch cosmic</p>
                            </a>
                        </div>
                        <div
                            class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/productos/detalle/:id" class="link-detalle">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="vemo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg>
                                <img src="https://previews.123rf.com/images/vectora/vectora1601/vectora160101182/51224740-modelo-cuadrado-fondo-monocrom%C3%A1tico-incons%C3%BAtil-repetible-con-formas-cuadradas-.jpg" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Celpouch onetouch</p>
                            </a>
                        </div>
                        <div
                            class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/productos/detalle/:id" class="link-detalle">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="vemo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg>
                                <img src="https://previews.123rf.com/images/vectora/vectora1601/vectora160101182/51224740-modelo-cuadrado-fondo-monocrom%C3%A1tico-incons%C3%BAtil-repetible-con-formas-cuadradas-.jpg" alt="foto de perfil" class="foto-perfil">
                                <p class="uk-text-center">Celpouch urban</p>
                            </a>
                        </div>



                    </div>
                </section>
            </div>
            <a href="">  <button> Agregar Post </button></a>
        </div>

    </main>

    <%- include('./partials/footer') %> 


</body>

</html>