<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emprendio</title>
        <link rel="icon" href="/images/logo.png" type="image/png">
    
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/general.css">
        <link rel="stylesheet" href="/stylesheets/registracion.css">
    
        <!-- UiKit -->
        <!-- <link rel="stylesheet" href="css/uikit.min.css">
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/uikit.min.js"></script> -->
        <!-- UiKit -->
        
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
        
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    </head>

<body>
    <%- include('./partials/header') %> 
    <main>
        <h1 class="formu">Formulario de registración: Administrador</h1>
        <h2 class="siestas">Si sos un administrador de Emprendio, dejá los siguientes datos para crear tu cuenta.</h2>

        <div class="uk-section uk-section-medium">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form  class= "formulario" action="" method="POST">
                    <p>
                        <label for="nombre"> Nombre: </label>
                        <input type="text" id="nombre" value="" placeholder="Nombre">
                    </p>

                    <p>
                        <label for="apellido"> Apellido: </label>
                        <input type="text" id="apellido" value="" placeholder="Apellido">
                    </p>

                    <p>
                        <label for="mail"> Mail: </label>
                        <input type="email" id="mail" value="" placeholder="Mail">
                    </p>

                    <p>
                        <label for="nombre de usuario"> Nombre de Usuario: </label>
                        <input type="text" id="nombre_de_usuario" value="" placeholder="Nombre de usuario">
                    </p>

                    <p>
                        <label for="contraseña"> Contraseña: </label>
                        <input type="password" id="contraseña" value="" placeholder="Contraseña">
                    </p>
                    
                    <!-- Botón para enviar -->
                    <a href="/home/aprobacionVendedor"> 
                        <p>
                            <button class="boton3"> Enviar </button>
                        </p> 
                    </a>

                    <p>
                        <h3> ¡Muchas gracias! </h3 >
                    </p>
                    

                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 



</body>

</html>