<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/registro.css">
</head>

<body>
    <%- include('./partials/header') %> 
    <main>
        <!-- <div class="uk-section uk-section-small"> -->
           <h1 class="titulo montserrat uk-align-center"> Tipo de registro</h1> 

<div class="dos montserrat">
    <h3> Comprador </h3> 
      <a href="/home/registroComprador"><button class="uk-button uk-button-primary uk-align-center">Registrarme</button></a>

</div>

<div class="tres montserrat">
    <h3> Vendedor </h3>
    <a href="/home/registroVendedor"><button class="uk-button uk-button-primary uk-align-center">Registrarme</button></a>
</div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>