<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <head>
        <%- include('./partials/head') %> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emprendio</title>
        <link rel="icon" href="/images/logo.png" type="image/png">
    
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/general.css">
        <link rel="stylesheet" href="/stylesheets/registracion.css">
    
        <!-- UiKit -->
        <!-- <link rel="stylesheet" href="css/uikit.min.css">
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/uikit.min.js"></script> -->
        <!-- UiKit -->
        
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
        
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    </head>
    
<body>
    <%- include('./partials/header') %> 
    <main>

        <h1 class="formu">Formulario de registración: Comprador</h1>
        <h2 class="siestas">Si estás interesado en comprar productos a través de Emprendio, completá tus datos y creá tu cuenta al instante para comenzar a comprar.</h2>

        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form  class= "formulario" action="" method="POST">

                 <div class="ajuste">
                    <p>
                        <label for="nombre"> Nombre: </label>
                        <input type="text" id="nombre" value="" placeholder="Nombre">
                       
                    </p>

                    <p>
                        <label for="apellido"> Apellido: </label>
                        <input type="text" id="apellido" value="" placeholder="Apellido">
                    </p>

                    <p>
                        <label for="mail"> Mail: </label>
                        <input type="email" id="mail" value="" placeholder="Mail">
                    </p>

                    <p>
                        <label for="nombre de usuario"> Nombre de usuario: </label>
                        <input type="text" id="nombre_de_usuario" value="" placeholder="Nombre de usuario">
                    </p>

                    <p>
                        <label for="contraseña"> Contraseña: </label>
                        <input type="password" id="contraseña" value="" placeholder="Contraseña">
                    </p>
                </div>

                    <div class="boton"> 
                        <button>Enviar</button>
                    </div>

                    

                    <p>
                        <h3> ¡Muchas gracias! Ya podés comprar a través de Emprendio. </h3 >
                    </p>

                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 



</body>

</html>