<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/registracion.css">
</head>
    
<body>
    <%- include('./partials/header') %> 
    <main>
        <h1 class="formu">Formulario de registración: Comprador</h1>
        <h2 class="siestas">Si estás interesado en comprar productos a través de Emprendio, completá tus datos y creá tu cuenta al instante para comenzar a comprar.</h2>

        <div class="uk-section uk-section-small">
            <% if (typeof mensajeErrorRegistro != "undefined") { %>
                <h3><%= mensajeErrorRegistro %></h3>
            <% } %>

            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form  class= "formulario" action="/emprendedores/guardar" method="POST">

                 <div class="ajuste">
                    <p>
                        <label for="nombre"> Nombre: </label>
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                       
                    </p>

                    <p>
                        <label for="apellido"> Apellido: </label>
                        <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
                    </p>

                    <p>
                        <label for="mail"> Mail: </label>
                        <input type="email" id="mail" name="mail" placeholder="Mail" required>
                    </p>

                    <p>
                        <label for="nombre de usuario"> Nombre de usuario: </label>
                        <input type="text" id="nombre_de_usuario" name="NombreUsuario" placeholder="Nombre de usuario" required>
                    </p>

                    <p>
                        <label for="contraseña"> Contraseña: </label>
                        <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required>
                    </p>

                    <div class="boton3"> 
                        <button type="submit">Enviar</button>
                    </div>
                </div>

                    <p>
                        <h3> ¡Muchas gracias! Ya podés comprar a través de Emprendio. </h3 >
                    </p>

                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 



</body>

</html>