<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emprendio</title>
        <link rel="icon" href="/images/logo.png" type="image/png">
    
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/general.css">
    
        <!-- UiKit -->
        <!-- <link rel="stylesheet" href="css/uikit.min.css">
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/uikit.min.js"></script> -->
        <!-- UiKit -->
        
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
        
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    </head>
<body>
    <%- include('./partials/header') %> 
    <main>

        <h1>Formulario de registración: Vendedor</h1>
        <h2>Si estás interesado en vender tus productos a través de Emprendio, dejá los siguientes datos y nos comunicaremos a la brevedad para confirmarte la aprobación de tu cuenta.</h2>

        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form  class= "formulario" action="" method="POST">
                    <p>
                        <label for="nombre"> Nombre: </label>
                        <input type="text" id="nombre" value="" placeholder="Nombre">
                    </p>

                    <p>
                        <label for="apellido"> Apellido: </label>
                        <input type="text" id="apellido" value="" placeholder="Apellido">
                    </p>

                    <p>
                        <label for="mail"> Mail: </label>
                        <input type="email" id="mail" value="" placeholder="Mail">
                    </p>

                    <p>
                        <label for="nombre de usuario"> Nombre de usuario: </label>
                        <input type="text" id="nombre_de_usuario" value="" placeholder="Nombre de usuario">
                    </p>

                    <p>
                        <label for="contraseña"> Contraseña: </label>
                        <input type="password" id="contraseña" value="" placeholder="Contraseña">
                    </p>

                    <p>
                        <label for="Foto Perfil"> Foto de perfil: </label>
                        <input type="file" id="foto perfil" value="">
                    </p>

                    <p>
                        <label for="nombre marca"> Nombre de tu marca: </label>
                        <input type="nombre marca" id="mail" value="" placeholder="Nombre de tu marca">
                    </p>

                    <p>
                        <label for="tiempo creación"> ¿Hace cuánto creaste tu marca? </label>
                        <select name="empleados" id="empleados">
                            <option value="Menos de 1 año">Menos de 1 año.</option>
                            <option value="Entre 1 y 3 años">Entre 1 y 3 años.</option>
                            <option value="Más de 3 años">Más de tres años.</option>
                        </select>
                    </p>

                    <p>
                        <label for="historia"> Historia de tu marca: ¿Cómo surgió? </label>
                        <textarea id="historia" cols="30" rows="8"></textarea>
                    </p>

                    <p>
                        <label for="productos"> ¿Qué productos vendes? </label>
                        <input type="text" id="productos" value="">
                    </p>

                    <p>
                        <label for="integrantes"> ¿Quiénes forman parte de tu emprendimiento? </label>
                        <input type="text" id="integrantes" value="">
                    </p>

                    <p>
                        <label for="empleados"> ¿Tenés empleados? </label>
                        <select name="empleados" id="empleados">
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </p>

                    <p>
                        <label for="red social"> Red social de tu marca </label>
                        <input type="text" id="red social" value="" placeholder="Red social">
                    </p>

                    <button>Enviar</button>

                    <p>
                        <h3> ¡Muchas gracias! En breve nos comunicaremos para confirmarte que fuiste acceptado para vender tus productos por Emprendio. </h3 >
                    </p>

                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>