<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emprendio</title>
        <link rel="icon" href="/images/logo.png" type="image/png">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/general.css">
        <link rel="stylesheet" href="/stylesheets/faqs.css">

        <!-- UiKit -->
        <!-- <link rel="stylesheet" href="css/uikit.min.css">
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/uikit.min.js"></script> -->
        <!-- UiKit -->
        
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
        
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    </head>
<body>
    <%- include('./partials/header') %> 
    <main>
        <!-- <div class="uk-section uk-section-small"> -->
           <h1 class="titulo montserrat uk-align-center"> Tipo de registro</h1> 
   
<div class="uno montserrat "> 
    <h3> Registro Adminisitrador </h3> 
   <a href="/home/registroAdmin"> <button class="uk-button uk-button-primary uk-align-center">Registrarme</button> </a>

</div>

<div class="dos montserrat">
    <h3> Registro comprador </h3> 
      <a href="/home/registroComprador"><button class="uk-button uk-button-primary uk-align-center">Registrarme</button></a>

</div>

<div class="tres montserrat">
    <h3> Registro vendedor </h3>
    <a href="/home/registroVendedor"><button class="uk-button uk-button-primary uk-align-center">Registrarme</button></a>
</div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>