<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/registracion.css">
</head>

<body>
    <%- include('./partials/header') %> 
    <main>
        <h1 class="formu">Formulario de registración: Vendedor</h1>
        <h2 class="siestas">Si estás interesado en vender tus productos a través de Emprendio, dejá los siguientes datos y nos comunicaremos a la brevedad para confirmarte la aprobación de tu cuenta.</h2>

        <div class="uk-section uk-section-small jaja">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form  class= "formulario" action="/home/guardarVendedor" method="POST">
                    
                <div class="ajuste2">
                    <p class="vende">
                        <label for="nombre"> Nombre: </label>
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre">
                    </p>

                    <p class="vende">
                        <label for="apellido"> Apellido: </label>
                        <input type="text" id="apellido" name="apellido" placeholder="Apellido">
                    </p>

                    <p class="vende">
                        <label for="mail"> Mail: </label>
                        <input type="email" id="mail" name="mail" placeholder="Mail">
                    </p>

                    <p class="vende">
                        <label for="nombre de usuario"> Nombre de tu marca: </label>
                        <input type="text" id="nombre_de_usuario" name="nombreUsuario" placeholder="Nombre de usuario">
                    </p>

                    <p class="vende">
                        <label for="contraseña"> Contraseña: </label>
                        <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña">
                    </p>

                    <p class="vende">
                        <label for="dni"> DNI: </label>
                        <input type="number" id="dni" name="dni" placeholder="DNI">
                    </p>

                    <p class="vende">
                        <label for="tiempo creación"> ¿Hace cuánto creaste tu marca? </label>                  
                        <select name="tiempoCreacion" id="tiempoCreacion" name="tiempoCreacion">
                            <option value="Menos de 1 año">Menos de 1 año.</option>
                            <option value="Entre 1 y 3 años">Entre 1 y 3 años.</option>
                            <option value="Más de 3 años">Más de tres años.</option>
                        </select>
                    </p>

                    <p class="vende">
                        <label for="historia"> Historia de tu marca: ¿Cómo surgió? </label>
                        <textarea id="historia" cols="30" rows="8" name="historia"></textarea>
                    </p>

                    <p class="vende">
                        <label for="integrantes"> ¿Quiénes forman parte de tu emprendimiento? </label>
                        <input type="text" id="integrantes" name="integrantes">
                    </p>

                    <p class="vende">
                        <label for="empleados"> ¿Tenés empleados? </label>
                        <select name="empleados" id="empleados">
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </p>

                    <p class="vende"> 
                        <label for="red social"> Red social de tu marca </label>
                        <input type="text" id="red social" name="redSocial" placeholder="Red social">
                    </p>

                    <p class="vende">
                        <label for="Foto Perfil"> Foto de perfil: </label>
                        <input type="file"  id="foto perfil" name="fotoPerfil">
                    </p>

                    <!-- Botón para enviar -->
                    <p>
                        <button class="boton3" type="submit"> Enviar </button>
                    </p> 
                    
                </div>

                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>