<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/registracion.css">
    <script src="/javascript/registro.js"></script>
</head>

<body>
    <%- include('./partials/header') %> 
    <main>
        <h1 class="formu">Formulario de registración: Administrador</h1>
        <h2 class="siestas">Si sos un administrador de Emprendio, dejá los siguientes datos para crear tu cuenta.</h2>

        <div class="uk-section uk-section-medium ok">
            <% if (typeof mensajeErrorRegistro != "undefined") { %>
                <h3><%= mensajeErrorRegistro %></h3>
            <% } %>
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form  class= "formulario" action="/home/guardarAdmin" method="POST">
                    
                  <div class="ajuste3">
                    <p>
                        <label for="nombre"> Nombre: </label>
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                    </p>

                    <p>
                        <label for="apellido"> Apellido: </label>
                        <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
                    </p>

                    <p>
                        <label for="mail"> Mail: </label>
                        <input type="email" id="mail" name="mail" placeholder="Mail" required>
                    </p>

                    <p>
                        <label for="nombre de usuario"> Nombre de Usuario: </label>
                        <input type="text" id="nombre_de_usuario" name="nombreUsuario" placeholder="Nombre de usuario" required>
                    </p>

                    <p>
                        <label for="contraseña"> Contraseña: </label>
                        <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required>
                    </p>

                    <button type="submit">Enviar</button>
                   
                  </div>

                  <p>
                    <h3> ¡Muchas gracias! </h3 >
                </p>

                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 



</body>

</html>