<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/registracion.css">
</head>

<body>
    <%- include('./partials/header') %> 
    <main>
            <h1>¡Muchas gracias! En breve nos comunicaremos para confirmarte que fuiste aceptado para vender tus productos por Emprendio.</h1>
            <h2>Mientras tanto podés ver productos para comprar en nuestra web.</h2>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>