<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/testing.css">    
</head>
    
<body>
    <%- include('./partials/header') %> 

    <h1 class="h1emprendio">Esto es un H1</h1>
    <h2 class="h2emprendio">Esto es un H2</h2>
    <h3 class="h3emprendio">Esto es un H3</h3>
    <p class="pemprendio">Esto es un Parragraph</p>
    <button class="botonemprendio textobotonemprendio"> Boton</button>
    <button class="botonemprendio "> Boton</button>
    

    <%- include('./partials/footer') %> 

</body>

</html>