*{
    box-sizing: border-box;
}
main{
  background-color: #FAFAFA;
}
html{
    background-color: #FAFAFA;
}

div.uk-navbar-left{
    width: 20%;
    height: 15%;
}

.uk-background-primary {
    height: auto;
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.montserrat{
    font-family: "Montserrat";
}

body{
    background-color: #FAFAFA;
  }

  /*                                 v0.1 ccs estilo                                         */

/*                           general                               */
header{
  z-index: 10;
}
body{
  padding-top: 100px;
  height: 100%;
}
.fotoproducto{
  border-radius: 10px;
  height: auto;
}
.fondo{
  height: 100%;
  z-index: -0;

}

.tarjetaemprendio{
  background: white;
  border-radius: 10px;
  margin: 10px;
  box-shadow: black;
}

.tituloseccion{
  text-align: left;
  padding-left: 25%;
}


/*                           Textos                               */
  .h1emprendio{
    /* H1 */
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  /* or 138% */
  
  letter-spacing: 0.2px;
  
  color: #202020;
  }
  
  .h2emprendio{
    /* H2 */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  /* identical to box height, or 142% */
  
  letter-spacing: 0.2px;
  
  color: #202020;
  }
  
  .h3emprendio{
    /* H3 */  
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  /* or 133% */
  
  letter-spacing: 0.1px;
  
  color: #202020;
  }

  .h4emprendio{
    /* H4 */  
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  /* or 133% */
  
  letter-spacing: 0.1px;
  
  color: #202020;
  }
  .pemprendio{
    /* Paragraphe */
  font-family: nunito;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  
  letter-spacing: 0.2px;
  
  color: #202020;
  }

  /* BOTONES */
  
  .botonemprendio{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 15px 5px 15px;
  
  /* primary-color */
  background: #196E63;
  border-radius: 5px;
  display:inline-block;
  }
  
  .textobotonemprendio{
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    
    text-align: center;
    letter-spacing: 0.2px;
    
    /* light-text-color */
    
    color: #FAFAFA;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 15px 10px; 
  }
  
  .botonemprendiodanger{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 15px 5px 15px;
  /* primary-color */
  background: #C76854;
  border-radius: 5px;
  display:inline-block;
  }
  
  .botonemprendiocreate{
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 15px 5px 15px;
  /* primary-color */
  background: #5D7CED;
  border-radius: 5px;
  display:inline-block;
  }