div.uno {
    float: left;
    margin-left: 3.3%;
    width: 30%;
    margin-top: 4%;
}

div.dos {
    float: left;
    margin-left: 3.3%;
    width: 30%;
    margin-top: 4%;
}

div.tres {
    float: left;
    margin-left: 3.3%;
    width: 30%;
    margin-top: 4%;
}

h1.titulo {
    padding-left: 35%;
    padding-top: 5%;
    padding-bottom: -2%;
    width: 100%;
    font-family: Nunito;
    font-weight: bold;
    color: rgb(25, 110, 99);
    background-image: url('public/images/marmol.jpg');
   
}

div.tres p {
    margin-top: -5%;
    margin-bottom: 8%;
}
div.dos p {
    margin-top: -4%;
}
h3{
    text-align: center;
    padding-bottom: 18px;
}
p.oka{
    padding-top: 30px;
}
p.okson{
    padding-top: 12px;
}