/*                           Estilo tarjeta                               */
article.post{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-bottom: 60px;
}


/*                           Informacion del usuario                               */
article.post div.info-usuario{
    padding: 25px 25px 10px 25px;
    border-radius: 10px;
}

article.post div.info-usuario img{
    border-radius: 50px;
    padding: 1px;
    border: 1.5px solid red;
    width: 40px;
    height: 40px;
}

article.post div.info-usuario h4{ /* aca toca algo del h4 me hace conflicto con h3emprendio */
   margin: 8px 20px;
}


/*                           Imagen                               */
article.post div.post-body{
    padding: 10px;
    width: 100%;
    height: auto;
}


/*                           Reacciones                               */
article.post div.post-reacciones ul.post-icons{
    padding: 0px 40px;
    list-style-type: none;

}

article.post div.post-reacciones ul.post-icons li{ 
    padding-top: 20px;
    padding-left: 10px;
    display: inline;
}

/*                           Descripcion                               */
article.post div.post-comentarios {
    margin-left: 40px;
}
article.post div.post-comentarios h6{
    margin-bottom: 0;
}
article.post div.post-comentarios ul{
    list-style: none;
    margin-top: 5px
}
article.post div.post-comentarios ul li{
    display: flex;
}
article.post div.post-comentarios ul li a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
article.post div.post-comentarios ul li p{
    margin: 0 5px;
}

div.uk-navbar-left{
    width: 20%;
}
h4 {
    font-family: montserrat,sans-serif;
}
.post.uk-card-default.uk-flex.uk-flex-column {
    font-family: Roboto,sans-serif
}