footer.uk-background-primary{
    height: 40px;
    color: white;
    padding: 0 10px;
    background-color: rgb(25, 110, 99);
}

footer ul{
    list-style: none;
    font-family: 'Source Sans Pro',sans-serif;
    background-color: rgb(25, 110, 99);
}

footer ul li{
    margin-top: 0;
}
footer{
background-color: rgb(25, 110, 99);
height: auto;
color: white;
}

ul.uk-width-1-6.uk-flex.uk-flex-middle.uk-flex-around.uk-height-1-1.uk-margin-remove.uk-padding-remove a {
    color: white;
}