*{
    box-sizing: border-box;
}
main{
    margin-bottom: 40px;
}

div.uk-navbar-left{
    width: 20%;
    height: 15%;
}

.uk-background-primary {
    height: auto;
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

header{
    background-color: seagreen;
}

footer{
    background-color: seagreen; 
}
