*{
    box-sizing: border-box;
}
main{
    margin-bottom: 40px;
}

div.uk-navbar-left{
    width: 20%;
    height: 15%;
}

.uk-background-primary {
    height: auto;
    font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}


div.carrito {
   width: 70%;
   margin-left: 15%;
   margin-top: 20%;
   border-radius: 1%;
   font-family: sans-serif; 
   font-size: 18px; 
   font-weight: 400; 
   padding-top: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   border: 2px solid darkgray;
   height: 50%;
}
