header{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(25, 110, 99);
}
header section{
    height: 100%;
}
header section nav{
    height: 100%;
}
header nav ul li a{
    color: white;
    font-family: Nunito;
}
header nav ul li a:hover{
    color: #EDE86D;
    text-decoration: none;
}
.logo{
    margin: -3px;
}
.logo a{
    color: white;
}
li {
    color: white;
}
.logo a:hover {
    text-decoration: none;
    color: white;
}
header ul{
    margin: 0 auto; /* HEADER CENTRADO */
    padding: 2;
    list-style: none;
}
header div.uk-navbar-center ul li{
    padding: 0 10px;
    border-right: 1px solid white;
}
header div.uk-navbar-center ul li:nth-last-child(1){
    border-right: none;
}
header nav form input, header nav form ::placeholder, header nav form span{
    color: white !important;

    border-radius: 5px;
    margin-left: 10px;
    margin-right: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
header.uk-background-primary{
    background-color: rgb(25, 110, 99);
    height: auto;
}

a.loguito {
    margin-right: 10px;
}

div.uk-navbar-center.barra {    
    padding-right: 15%;
}

body{
    background-color: rgb(247, 245, 245);
  }

.inputbuscador
{
    background-color: rgb(25, 110, 99);
}

a.loguito svg {
    right: -16px;
    position: relative;
}
