.botonhero{
    position: absolute;
    top: 65%;
    left: 13%;
}

.h1hero{
    /* H1 */
    
    position: absolute;
    top: 30%;
    left: 10%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    /* or 138% */

    letter-spacing: 0.2px;

    color: whitesmoke;

  }

.h2hero{
   /* H2 */
   position: absolute;

   top: 45%;
   left: 10%;

   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 40px;
   line-height: 57px;
   /* identical to box height, or 142% */
   
   letter-spacing: 0.2px;

   color: whitesmoke;
 
  }