div form.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 6%;
    object-position: center;
    background-color: whitesmoke;
    width: 400px;
    border: 10px solid rgb(25, 110, 99);
    padding: 40px;
    margin: 20px;
    text-align: center;
    margin-top: 15px;
    margin-left: 10%;
    border-radius: 2%;
    margin-top: 7%;
    margin-bottom: 5%;
  }
.formulario .checkbox {
    font-weight: 400;
    margin-top: 15px;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 25px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
  }
  .form-signin input {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
  }

  .btn-primary {
    color: #fff;
    background-color: rgb(25, 110, 99);
    border-color: seagreen;
    width: 63%;
    font-weight: 400;
    margin-top: 25px;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    cursor: pointer;
}
.checkbox.mb-3 {
  margin-top: 35px;
}
.mt-5.mb-3.text-muted{
  margin-top: 25px;
}

p.iniciarsesion {
  font-size: 200%;
}