.info-usuario .foto-perfil{
    border-radius: 60%;
    width: 220px;
}

.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
    max-width: 80%;
}
.sani{
    margin-left: 1px;
    padding-left: 19px;
}
.muro{
    border-top: 1px solid lightgray;
}
.muro .link-detalle{
    color: gray;
    text-decoration: none;
}
h3{
    font-family: cursive;
    font-size: 35px;
}
.solofoto{
    max-width: 100%;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
}
.link-detalle .foto-perfil{
    width:100%;
}
.vemo{
margin-left: 191px;
}