.info-usuario .foto-perfil{
    border-radius: 60%;
    width: 190px;
}

.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
}

.muro{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}
.muro .link-detalle{
    color: gray;
    text-decoration: none;
}
h3{
    font-family: cursive;
    font-size: 35px;
}
.solofoto{
    max-width: 100%;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
}
.link-detalle .foto-perfil{
    width:100%;
}