.info-usuario .foto-perfil{
    border-radius: 50%;
}

.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
}

.muro{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}

h1{
    text-align: center;
    color: gray;
    font-family: sans-serif;
  }
  .uk-section-small {
    padding-top: 10px;
    padding-bottom: none;
}
a{
    max-width: 100%;
}
img.foto-perfil1{
    padding-top: 38px;
}
.uk-text-center-ok{
    padding-top: 26px;
    padding-left: 29%;
}
.uk-text-center-2{
    margin-top: 20px;
    padding-left: 16%;
}


