body {
  height: 100%;
  }

  main{
    background-color: rgb(247, 245, 245);
  }

h1.formu{
font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 51px;
line-height: 80px;
padding-top: 48px;
text-align: center;
margin: auto;
text-decoration-line: underline;
}
h2.siestas{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 57px;
text-align: center;
}

.formulario{
    align-content: center;

}
.ajuste{
    object-position: center;
background-color: whitesmoke;
  width: 400px;
  border: 10px solid rgb(25, 110, 99);
  padding: 40px;
  margin: 20px;
  text-align: center;
  margin-top: 15px;
  margin: auto;
  border-radius: 2%;
}

.ajuste2{
  object-position: center;
  background-color: whitesmoke;
  width: 541px;
  border: 10px solid rgb(25, 110, 99);
  padding: 40px;
  margin: 20px;
  text-align: center;
  margin-top: 45px;
  margin: auto;
  border-radius: 2%;
  margin-bottom: 15px;
  
}
.ajuste3{
  object-position: center;
  background-color: whitesmoke;
  width: 400x;
  border: 10px solid rgb(25, 110, 99);
  padding: 40px;
  margin: 20px;
  text-align: center;
  margin-top: 45px;
  margin: auto;
  border-radius: 2%;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.ajuste4{
  object-position: center;
  background-color: whitesmoke;
  width: 541px;
  border: 10px solid rgb(25, 110, 99);
  padding: 40px;
  margin: 20px;
  text-align: center;
  margin-top: 45px;
  margin: auto;
  border-radius: 2%;
  margin-bottom: 5%;
  margin-top: 4%;
}

button{
    background-color: rgb(25, 110, 99);
    border-radius: 10px;
    color: white;
    padding: 10px  35px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 30px;
    

}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
  border-radius: 4px;
  }
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
  border-radius: 4px;

  }
  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
  border-radius: 4px;
  }

  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
  border-radius: 4px;
  }
  input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
  border-radius: 4px;
  }
  

  .nombre:focus{
    z-index: 2;
  }


  h3 {
    font-family: Impact, Charcoal, sans-serif;
padding-top: 38px;
text-align: center;
margin: auto;
padding-bottom: 50px;
}
.boton2{
  padding-left: 44%;
  padding-top: 44px;
  }

#foto.perfil{
  padding-left: 15px;
}
#historia {
display: flex;
width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
  border-radius: 4px;
}
#descripcion{
  display: flex;
  width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid;
    border-radius: 4px;
  }
  #envio{
    display: flex;
    width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid;
      border-radius: 4px;
    }
    #pago{
      display: flex;
      width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: 2px solid;
        border-radius: 4px;
      }




  