
        <footer class=" uk-flex uk-flex-between uk-flex-middle">
            <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
                <a href="/home/preguntasFrecuentes" class="1">Preguntas Frecuentes</a>
                <a href="/home/quienesSomos" class="2"> ¿Quiénes somos? </a>
                <a href="/home/contacto" class="3"> Contacto </a>
            </ul>
        </footer>