    <footer class="uk-position-bottom uk-position-fixed uk-background-primary uk-flex uk-flex-between uk-flex-middle">

    <footer class="uk-position-bottom uk-position-fixed uk-flex uk-flex-between uk-flex-middle">
     
        <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li><a href="https://www.instagram.com/emprendio.co/" uk-icon="instagram"></a></li>
            <li><a href="https://www.facebook.com/emprendio.co" uk-icon="facebook"></a></li>
        </ul><ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li>info.emprendio@gmail.com</li>
        </ul>
        <ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove" >
            <li>Sofia Mollón</li>
            <li>Melanie Giacchetta</li>
            <li>Valentino Mateo</li>
            <li>Michael Dunn</li>
            <li>Joaquin Berardi</li>
        </ul>
    </footer>