<header class="uk-position-top uk-position-fixed">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                   <!-- <h2 class="logo"><a href="home.html">Emprendio</a></h2> -->
                   <a href="/"><img src="/images/titulologo.png" alt=""></a>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/emprendedores">Emprendedores</a></li>
                        <li><a href="/productos">Productos</a></li>
                        <li><a href="/home/feed">Feed</a></li>
                        <% if(usuario.TipoUsuario_id == 2){ %>
                            <li><a href="/emprendedores/miperfil/<%= usuario.id%>" >Mi perfil</a></li>
                        <% 
                        // else if(usuario.TipoUsuario_id == 3){ %>
                        //     <li><a href="/usuario/admin" >Mi perfil</a></li>
                        <% } else{ %>
                             
                        <% } %>
                    </ul>
                    
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li class="pemprendioBlanco"> Hola <%=usuario.NombreUsuario%> !  </li>
                        <li><a href="/productos/favoritos" class="loguito"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg></a></li>
                          <li>
                              <a href="/productos/carrito" class="loguito">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                  </svg>
                              </a>
                          </li>
                        
            

                        <li>
                            <form action="/home/buscar" class="botonemprendio " method="GET">
                                <span uk-search-icon type="submit" value="Search"></span>
                                <input type="text"  name="buscador123" placeholder="Buscar..."> 
                            </form>
                        </li>
                            <form action="/home/cerrarsesion" method= "POST"> <button type= "submit" class="botonemprendiodanger textobotonemprendio">Cerrar sesion</button> </form>
                            

                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</header>