<header class="">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                   <!-- <h2 class="logo"><a href="home.html">Emprendio</a></h2> -->
                   <a href="../home"><img src="/images/titulologo.png" alt=""></a>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="../home">Inicio</a></li>
                        <li><a href="../home/registroComprador">Registro</a></li>
                        <li><a href="../home/login">Login</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li>
                            <form action="../home/buscar" class="uk-search uk-search-default">
                                <span uk-search-icon></span>
                                <input type="search" class="uk-search-input" placeholder="Buscar...">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</header>